@use "../foundation/all" as *;

.dse-button__container {
  display: flex;

  background: $btn-primary-bg;
  color: $btn-primary-color;
  border: none;
  padding: map-get($map: $spacing, $key: "xxxs");
}
